doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UmurzakhovDev
        link(rel="stylesheet", href="style/main.min.css")
    body 
        include ./view/_header.pug
        include ./view/_main.pug
        include ./view/_footer.pug
        script(src="./js/main.min.js") 