header.header
    video(
        src="images/video/video.mp4" 
        autoplay loop muted 
        width="100%").header-video
    nav.nav
        .navbar 
            a(href="#!").navbar__logo 
                 img(src="images/logo.webp", alt="")
            ul.navbar__list 
                li.navbar__list-li
                    a(href="#!").navbar__list-link Home
                li.navbar__list-li
                    a(href="#!").navbar__list-link About
                li.navbar__list-li
                    a(href="#!").navbar__list-link Services
                li.navbar__list-li
                    a(href="#!").navbar__list-link Portfolio
                li.navbar__list-li
                    a(href="#!").navbar__list-link Contact
            button.navbar__burger
                span.navbar__burger-line            
    .header__bottom 
        p.header__bottom-sub Web developer & App Developer 
        h1.header__bottom-title Coding
            span.header__bottom-title_span .
        p.header__bottom-text I'm a Creative Developer and I make things work. Turning your dreams into reality
        .header__icons 
            a(href="#!").header__icons-icon 
                svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg").icon-svg
                    path(d="M24 0.75C11.1555 0.75 0.75 11.157 0.75 24C0.75 36.843 11.157 47.25 24 47.25C36.8445 47.25 47.25 36.843 47.25 24C47.25 11.157 36.843 0.75 24 0.75ZM35.4195 16.6785L31.6035 34.6605C31.3215 35.9355 30.5625 36.2445 29.5035 35.6445L23.691 31.3605L20.8875 34.0605C20.5785 34.3695 20.316 34.632 19.716 34.632L20.1285 28.716L30.9 18.984C31.3695 18.5715 30.7965 18.3375 30.177 18.75L16.8645 27.1305L11.127 25.3395C9.8805 24.9465 9.852 24.093 11.3895 23.493L33.8055 14.8485C34.8465 14.4735 35.7555 15.102 35.418 16.677L35.4195 16.6785Z" fill="white")
            a(href="#!").header__icons-icon 
                svg(width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg").icon-svg
                    path(d="M25 19C25 20.1867 24.6481 21.3467 23.9888 22.3334C23.3295 23.3201 22.3925 24.0892 21.2961 24.5433C20.1997 24.9974 18.9933 25.1162 17.8295 24.8847C16.6656 24.6532 15.5965 24.0818 14.7574 23.2426C13.9182 22.4035 13.3468 21.3344 13.1153 20.1705C12.8838 19.0067 13.0026 17.8003 13.4567 16.7039C13.9108 15.6075 14.6799 14.6705 15.6666 14.0112C16.6533 13.3519 17.8133 13 19 13C20.5907 13.0018 22.1158 13.6346 23.2406 14.7594C24.3654 15.8842 24.9982 17.4093 25 19ZM37.75 10.75V27.25C37.7468 30.0338 36.6396 32.7027 34.6711 34.6711C32.7027 36.6396 30.0338 37.7468 27.25 37.75H10.75C7.9662 37.7468 5.29733 36.6396 3.32889 34.6711C1.36044 32.7027 0.253176 30.0338 0.25 27.25V10.75C0.253176 7.9662 1.36044 5.29733 3.32889 3.32889C5.29733 1.36044 7.9662 0.253176 10.75 0.25H27.25C30.0338 0.253176 32.7027 1.36044 34.6711 3.32889C36.6396 5.29733 37.7468 7.9662 37.75 10.75ZM28 19C28 17.22 27.4722 15.4799 26.4832 13.9999C25.4943 12.5198 24.0887 11.3663 22.4442 10.6851C20.7996 10.0039 18.99 9.82567 17.2442 10.1729C15.4984 10.5202 13.8947 11.3774 12.636 12.636C11.3774 13.8947 10.5202 15.4984 10.1729 17.2442C9.82567 18.99 10.0039 20.7996 10.6851 22.4442C11.3663 24.0887 12.5198 25.4943 13.9999 26.4832C15.4799 27.4722 17.22 28 19 28C21.3861 27.9973 23.6738 27.0482 25.361 25.361C27.0482 23.6738 27.9973 21.3861 28 19ZM31 9.25C31 8.80499 30.868 8.36998 30.6208 7.99997C30.3736 7.62996 30.0222 7.34157 29.611 7.17127C29.1999 7.00097 28.7475 6.95642 28.311 7.04323C27.8746 7.13005 27.4737 7.34434 27.159 7.65901C26.8443 7.97368 26.63 8.37459 26.5432 8.81105C26.4564 9.2475 26.501 9.6999 26.6713 10.111C26.8416 10.5222 27.13 10.8736 27.5 11.1208C27.87 11.368 28.305 11.5 28.75 11.5C29.3467 11.5 29.919 11.2629 30.341 10.841C30.7629 10.419 31 9.84674 31 9.25Z" fill="white")
            a(href="#!").header__icons-icon 
                svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg").icon-svg
                    path(d="M24 0.960083C11.2752 0.960083 0.959961 11.2753 0.959961 24.0001C0.959961 36.7249 11.2752 47.0401 24 47.0401C36.7248 47.0401 47.04 36.7249 47.04 24.0001C47.04 11.2753 36.7248 0.960083 24 0.960083ZM29.4576 16.8817H25.9944C25.584 16.8817 25.128 17.4217 25.128 18.1393V20.6401H29.46L28.8048 24.2065H25.128V34.9129H21.0408V24.2065H17.3328V20.6401H21.0408V18.5425C21.0408 15.5329 23.1288 13.0873 25.9944 13.0873H29.4576V16.8817Z" fill="white")