main 
    section.about
        .about__content 
            .about__left 
                h3.about__left-title About US
                p.about__left-text.about-txt I'm Developer and I make things work without cross-media value Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions wihthout functional solution.
                p.about__left-text.about-txt2 Completely synergize resource taxing relationships premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                button.about__left-button SEE&nbsp;OUR&nbsp;WORKS
            .about__right
                img(src="images/my-images.webp", alt="my-images")
    section.services
        div.services__item
            div.services__left 
                h3.services__left-title Services  
                p.services__left-text  I'm a Creative Developer, I make things work. Turning your dreams into reality
                button.services__left Price list
            div.services__right
                - var ds = [{title:"Git Version Control", text:"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."},{title:"App Design", text:"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."},{title:"Back-end Development", text:"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."},{title:"Web development", text:"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."}{title:"Photography", text:"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."}{title:"Freelancing", text:"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."}];
                each val in ds
                    div 
                        h3.services__right-title= val.title
                        p.services__right-text= val.text 
    section.portfolio
    secttion.contact
