//- main 
//-     section.about
//-         .about__content 
//-             .about__content_left 
//-                 h3.about__content-tite About US
//-                 p.about__content-text I'm Developer and I make things work without cross-media value Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions wihthout functional solution.
//-                 p.about__content-text Completely synergize resource taxing relationships premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
//-                 button.about__content-button SEE&nbsp;OUR&nbsp;WORKS
//-             .about__content_right
//-                 img(src="images/my-images.webp", alt="my-images")
//-     section.services
//-     section.portfolio
//-     secttion.contact
